<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>작품 정보</title>
  <link rel="stylesheet" href="css/menu-movie-detail.css">
  <link rel="stylesheet" href="css/common.css">
</head>

<body>
  <div class="title-container">
    <!-- login 여부 확인해서 선택적으로 보여준다. -->
    <span class="sign-member">   
      <% if(user){ %>
        <a class="authLink" href="/user/detail?id=<%=user.id%>"><%=user.name%> 님</a>
          <a class="authLink" href="/user/logout">로그아웃</a>
      <% }else{ %>
          <a class="authLink" href="/user/sign_up">회원가입</a>
          <a class="authLink" href="/user/login">로그인</a>
      <% } %>   
    </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="/"><img class="title-logo" src="img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>

  <div class="body">
      <div class="menu">
        <ul class="select-menu">
          <a class="select-menu-detail" href="menu-movie.html"><li>작품</li></a>
          <a class="select-menu-detail" href="/forum"><li>게시판</li></a>
        </ul>
      </div>
      <div class="body-content">
        <div class="movie-detail-form">
            <table class="movie-detail table">
                <tr class="movie-detail table-row">
                    <td rowspan="10"><img class="movie-detail poster" src="<%=showData.poster%>"></td>
                    <td class="movie-detail info">제목</td>
                    <td class="movie-detail title"><%=showData.title%></td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">감독</td>
                    <td class="movie-detail director">
                    <%for(var i in showData.director){ %>
                      <a href="/profile/director_<%=showData.director[i].director_id%>"><%=showData.director[i].name%></a>
                    <%}%>
                    </td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">배우</td>
                    <td class="movie-detail cast">
                    <%for(var i in showData.actor){ %>
                      <a href="/profile/actor_<%=showData.actor[i].actor_id%>"><%=showData.actor[i].name%></a>
                    <%}%>
                    </td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">국가</td>
                    <td class="movie-detail country"><%=showData.country%></td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">장르</td>
                    <td class="movie-detail type"><%=showData.type%></td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">제작 년도</td>
                    <td class="movie-detail release_year"><%=showData.release_year%></td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">길이</td>
                    <td class="movie-detail duration"><%=showData.duration%></td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail info">줄거리</td>
                    <td class="movie-detail summary"><%-showData.description%></td>
                </tr>
                <tr class="movie-detail table-row">
                    <td class="movie-detail go-forum" colspan="2">
                        <a href="">게시판 가기</a>
                    </td>
                </tr>
            </table>
        </div>
      </div>

  </div>
  <footer>
    Created by<br>
    김영훈, 김학재, 남호철, 안석진, 윤지아<br>
  </footer>
</body>
</html>
