<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>작품 보기</title>
  <link rel="stylesheet" href="css/menu-movie.css">
  <link rel="stylesheet" href="css/common.css">
</head>

<body>
  <div class="title-container">
    <span class="sign-member">
      <% if(user){ %>
        <a class="authLink" href="/user/detail?id=<%=user.id%>"><%=user.name%> 님</a>
          <a class="authLink" href="/user/logout">로그아웃</a>
      <% }else{ %>
          <a class="authLink" href="/user/sign_up">회원가입</a>
          <a class="authLink" href="/user/login">로그인</a>
      <% } %>    
    </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="/"><img class="title-logo" src="img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>

  <div class="body">
      <div class="menu">
        <ul class="select-menu">
          <a class="select-menu-detail" href="/show"><li>작품</li></a>
          <a class="select-menu-detail" href="/forum?page=1"><li>게시판</li></a>
        </ul>
      </div>
    <div class="body-content">
      <span class="search-content">
        <input type="text" class="search-box search-movie" placeholder="영화 명을 입력하세요.">
        <button type="submit" class="search-box search-btn">검색</button>
      </span>
      <table class="table-movie">
        <tr>
          <%for(var i in info){%>
          <td><a href="/show/<%=info[i].show_id%>"><img class="table-movie-content" src="<%=info[i].poster%>"><%=info[i].title%></td></a>
            <%if (i==3){%>
              </tr>
              <tr>
            <%}%>
          <%}%>
        </tr>
      </table>
    </div>
  </div>
  <footer>
    Created by<br>
    김영훈, 김학재, 남호철, 안석진, 윤지아<br>
  </footer>
</body>
</html>
