<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>로그인</title>
  <link rel="stylesheet" href="css/user-detail.css">
  <link rel="stylesheet" href="css/common.css">
</head>
<body>
  <div class="title-container">
    <!-- login 여부 확인해서 선택적으로 보여준다. -->
    <span class="sign-member">
        <% if(user){ %>
            <a class="authLink" href="/user/detail?id=<%=user.id%>"><%=user.name%> 님</a>
            <a class="authLink" href="/user/logout">로그아웃</a>
        <% }else{ %>
            <a class="authLink" href="/user/sign_up">회원가입</a>
            <a class="authLink" href="/user/login">로그인</a>
        <% } %>    
    </span>
    <div class="title-background">
      <h1 class="title-content">
        <a href="/"><img class="title-logo" src="img/scene_kimchi_logo.png" alt="씬김치 로고"></a>
      </h1>
    </div>
  </div>
  <div class="body">
  
  <div class="menu">
    <ul class="select-menu">
      <a class="select-menu-detail" href="/show"><li>작품</li></a>
      <a class="select-menu-detail" href="/forum?page=1"><li>게시판</li></a>
    </ul>
  </div>
  <div class="user-detail-form">
    <h2 class="user-detail-form-title">
      <%=userDetail.name%>님의 회원정보
    </h2>
    <div class="user-detail-form-content">
      <form action="/user/modify?no=<%=userDetail.no%>" method="POST"></form>
        <table class="user-detail table">
            <tr class="user-detail table-row">
                <td class="user-detail rowname">아이디</td>
                <td>
                  <input class="user-detail user-id" type="text" name="id" value="<%=userDetail.id%>" disabled>
                </td>
            </tr>
            <tr class="user-detail table-row">
                <td class="user-detail rowname">비밀번호</td>
                <td>
                  <input class="user-detail user-pw" type="password" name="pw" value="<%=userDetail.pw%>">
                </td>
            </tr>
            <tr class="user-detail table-row">
                <td class="user-detail rowname">이름</td>
                <td>
                  <input class="user-detail user-name" type="text" name="name" value="<%=userDetail.name%>">
                </td>
            </tr>
            <tr class="user-detail table-row">
                <td class="user-detail rowname">이메일</td>
                <td>
                  <input class="user-detail user-email" type="text" name="email" value="<%=userDetail.email%>">
                </td>
            </tr>
            <tr class="user-detail table-row">
                <td class="user-detail rowname">닉네임</td>
                <td>
                  <input class="user-detail user-nickname" type="text" name="nickname" value="<%=userDetail.nickname%>">
                </td>
            </tr>
        </table>
        <!-- session의 user.id와 현재 페이지의 id가 같은 경우에만 버튼 보이도록 설정 -->
        <% if(user.id === userDetail.id){ %>
          <button class="user-detail modify-btn" id="modify_btn" type="submit">수정</button>
          <button class="user-detail delete-btn" id="delete_btn" type="button">삭제</button>
        <% } %>
      </form>
    </div>
</div>
  </div>
</div>
<footer>
  Created by<br>
  김영훈, 김학재, 남호철, 안석진, 윤지아<br>
</footer>
</body>
<script>
  $('#delete_btn').click(function(){
      location.href = '/user/delete?no=<%=user.id%>'
    });
</script>
</html>
